.title {
  margin: 0;
  padding-top: 40px;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: rgb(239, 132, 103);
}

.form {
  padding: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.form button {
  margin-left: 5px;
}

.form div {
  padding-top: 20px;
  position: relative;
}

.noResults {
  margin-top: 85px;
  font-size: 22px;
  text-align: center;
}

.noResults button {
  font-size: 18px;
}

.searching {
  display: block;
  text-align: center;
  font-size: 30px;
}